html{
    font-size: 62.5%;
    
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
    
}
header{
    background: #000000;
    padding: 1.2rem 0;
}
.header-text h6{
    font-size: 1.4rem;
    font-weight: 400;
    color: #FAFAFA;
    margin-bottom: 0;
}
.header-text a{
    font-size: 1.4rem;
    font-weight: 600;
    color: #FAFAFA;
    margin-left: 1rem;
}
.m-select-1{
    margin-left: 20rem;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 400;
    color: #FAFAFA;
}
.m-ul-li li{
    padding:0 2rem !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    color: #000000 !important;
}
.nav-border{
    border-bottom:1px solid #e4dbdb;
}
.nav-border .m-ul-li .active{
    border-bottom: 1px solid #000000;
} 
.nav-hover li a, a.nav-active {
    transition: all .5s;
    position: relative;
    padding: 0 !important;
}
.nav-hover li a:hover::before, a.nav-active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000000;
    left: 0;
    bottom: 0;
}
.nav-search{
    background-color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 5px;
}
.nav-search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
}
.nav-last-area img{
    cursor: pointer;
}
img{
    pointer-events:none;
}
.ul-2{
    padding-left: 0 !important;
}
.sct-1-li{
    list-style: none;
    padding-top: 1.5rem !important;
}
.ul-2 a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
}
.section-1{
    padding-bottom:10rem !important ;
}
.section-2{
    padding-bottom:7rem !important ;
}
.caro-main-page{
    background-color: #000000;
    
}
.m-ul-li .nav-link{
    color:#000000 !important;
}
.coro-m-p{
    padding:4rem 4rem !important;
}
.caro-title{
    padding-bottom: 2rem !important;
}
.m-carosel .carousel-indicators [data-bs-target]{
    width: 15px !important;
    height: 15px;
    border-radius: 50%;
    
}
.m-carosel .carousel-indicators .active{
    background-color:#DB4444 !important;
    
}
.caro-title h6{
    font-size: 1.6rem;
    font-weight: 400;
    color: #FAFAFA;
    margin-bottom: 0 !important;
}
.caro-heading h1{
    font-size: 4.8rem;
    font-weight: 600;
    color: #FAFAFA;
}
.caro-button{
    font-size: 1.6rem;
    font-weight: 500;
    color: #FAFAFA;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 600;
    color: #DB4444;
}
.heading{
    font-size: 3.6rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
}
.time-dates p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
.time-dates h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: #000000;
    margin: 0;
}
.arow-icon span{
    background-color: #F5F5F5;
    padding:1.5rem 1rem;
    cursor: pointer;
}
.prodact-list{
    padding: 3rem 0;
    padding-bottom: 6rem;
    overflow: hidden;
}
.prodact-padding{
    padding-top: 5rem !important;
}
.prodact {
    width: 300px;
    position: relative;
	left: 0;
	transition: 0.5s;
}
.prodact a{
    text-decoration: none;
}
.prodact .card{
    border: none;
    position: relative;
    cursor: pointer;
}
.prodact .card-img{
    background-color: #F5F5F5;
    position: relative;
    padding: 4rem 0;
    width: 300px;
    height: 220px;
}
.card-header-top{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1.5rem 1rem;
}
.prodact:hover .add-to-cart {
    opacity: 1;
}
.add-to-cart {
    background-color: #000000;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #FFFFFF;
    transition: all .5s;
    position: absolute;
    text-align: center;
    opacity: 0;
    left: 0;
    bottom: 0;
}
.card-header-top p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #FAFAFA;
    background-color: #DB4444;
    padding: .1rem 1rem;
    border-radius: 5px;
    margin: 0;
}
.card-header-top i, .card-header-top img{
   color: #000000;
    font-size: 1.6rem;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
}
.prodact .card-body h5{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #000000 !important;
}
.prodact .card-body h6{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 0;
}
.card-body-price1{
    color:  #DB4444;
}
.card-body-price2{
    color: #000000;
    text-decoration: line-through;
    opacity: 0.5;
}
.card-body-icon-review i{
    color: #FFAD33;
    font-size: 1.2rem;
}
.review-user p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    color: #000000;
    opacity: 0.5;
}
.prodact-button-area button{
    font-size: 1.6rem;
    font-weight: 500;
    color: #FAFAFA;
    background: #DB4444;
    padding: 1rem 5rem;
    
}
.section-3{
    padding-bottom: 5rem !important;
}
.category-list{
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    left: 0;
    padding: 2rem 0 7rem 0;
}
.category {
    width:200px ;
    height:150px ;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.category:hover{
    color: #fff;
    background-color: #DB4444;
}
.category:hover p{
    color: #fff;
}
.category span{
    font-size:5rem ;
    width: 190px;
}
.category p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000000;
    padding-top: 1.5rem;
    margin-bottom: 0;
}
.section-4{
    padding-bottom: 5rem;
}
.section-5{
    padding-bottom: 5rem;
}
.sct-5-bg{
    background-color:#000000;
    padding: 5rem;
}
.music-hading h5{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #00FF66;
}
.music-hading h1{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 0.04em;
    color: #FAFAFA;
}
.music-time{
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.music-time h6{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #000000;
}
.music-time p{
    margin-bottom: 0;
    color: #000000;
}
.sct-5-button {
    background: #00FF66;
    color: #fff;
    padding: 1rem 4rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.card-img-width {
    height: 255px !important;
}
.section-6{
    padding-bottom: 10rem;
}
.card-header-top .card-New p{
    background-color: transparent;
}
.card-New{
    background-color: #00FF66 !important;
}
.card-body-radio input {
    accent-color: #FB1314;
    transform: scale(1.7);
}
.radia-color input{
    accent-color: #0000;
}
.card-body-radia-dot{
    position: relative;
}
.card-body-radia-dot::before{
    width: 20px;
    content: "";
    height: 20px;
    position: absolute;
    background-color: #DB4444;
    border-radius: 50%;
    top: 0;
    left: 0;
}
.section-7{
    padding-bottom: 7rem;
}
.m-width{
    width: 49% !important;
}
.bg-sub{
    height: 500px !important;
}
.new-arrival-bg .bg{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: #000000;
    position: relative;
    padding: 2rem;
    border-radius: 5px;
}
.new-arrival-bg .row{
    margin-left: 0 !important;
    flex-shrink: 0 !important;
}

.new-arrival-sub{
    padding: 0;
    gap: 2.5rem;
}
.new-arrival-sub .col-md-6{
    width: 48% !important;
}
.gap{
    gap: 2.5rem;
}
.bg-1{
    background-image: url(../img/BG/box-bg.png);
    height: 500px;
}
.bg-2{
    background-image: url(../img/BG/woman-bg.png);
    height: 250px;
    background-position:right !important;
}
.bg-3{
    background-image: url(../img/BG/mini-box-bg.png);
    height: 225px;
    background-position: center !important;
}
.bg-4{
    background-image: url(../img/BG/parfom-bg.png);
    height: 225px;
    background-position: center !important;
}
.bg-text-area{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;
}
.new-arrival-bg h4{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    margin-bottom: 1.5rem;
}
.new-arrival-bg p{
    color: #FAFAFA;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.new-arrival-bg a{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px dotted #999696;
}
.section-8{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.service h5{
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin-top: 2rem;

}
.service p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #000000;
}
.m-padding{
    padding-bottom: 8rem;
}
footer{
    background-color: #000000;
}
.footer-padding{
    padding: 7rem 0;
    gap: 5rem;
    justify-content: center;
    border-bottom: 1px solid  #2c2b2b;
}
.footer-items h5{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #FAFAFA;
    padding: 1.5rem 0;
}
.footer-items p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #FAFAFA;
    opacity: 0.8;
    padding-bottom: 0.4rem;
}
.fr-1-email-area{
    border: 2px solid  #FAFAFA;
    border-radius: 5px;
    
}
.fr-1-email-area input{
    border: none;
    outline: none;
    background: transparent;
    color: #FAFAFA;
    font-size: 1.6rem;
}
.fr-1-email-area input::placeholder{
    color:#FAFAFA;
    opacity: 0.4;
}
.footer-heading-sub{
    padding-top: 0 !important;
}
.footer-accout-ul{
    padding-left: 0;
}
.footer-accout-ul li{
    list-style: none;
    padding-bottom: 1.5rem;
}
.footer-accout-ul li span{
    color: #FAFAFA;
    font-size: 2rem;
    margin: 0 0.5rem;
}
.footer-accout-ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #FAFAFA;
    opacity: 0.9;
}

.footer-icons{
    padding-top: 2rem;
}
.footer-icons i{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #FFFFFF;
}
.footer-icons i:hover{
    color:blue ;
}
.footer-download-app-p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #FAFAFA;

}
.copyright{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 1rem 0;
    margin-bottom: 0;
}

    /* Contact Page */
#contact-page .section-1{
    padding: 7rem 0;
}
.contact-page-heading{
    padding-bottom: 5rem;
}
.contact-page-heading a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #000000;
    opacity: 0.5;
    
}
.contact-page-heading a:hover{
    opacity: 1;
}
.contact-page-heading .active{
    opacity: 1;
}
#contact-page .ct-call-us h6{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;

}
#contact-page .form .col-lg-4{
    width: 32.33%;
    
}
#contact-page .border-ct-page-call{
    border-bottom: 1px solid #000000;
}
#contact-page .ct-page-call p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #000000;
}
#contact-page .form input{
    border: none !important;
    background-color: #F5F5F5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
}
#contact-page .form-text-area-1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#contact-page .form-text-area-1 textarea{
    border: none !important;
    background-color:#F5F5F5 ;
    padding-bottom: 15rem;
    font-size: 1.6rem;
}
#about-page .section-1{
    padding: 7rem 0;
}
.about-page-our-story-section h1{
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 6.4rem;
    letter-spacing: 0.06em;
    color: #000000;
}
.about-page-our-story-section p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #000000;
}
.about-sales{
    width: 22%;
    height: 200px;
    transition: all 0.5s;
}
.about-sales span{
    color:#fff;
    padding: 1rem;
    background-color: #000000;
    border-radius: 50%;
    outline: 10px solid  #c4c4c5;
    margin-bottom: 2rem;
}
.about-sales h4{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.04em;
    color: #000000 ;
    margin-top: 0.5rem;
    transition: all 0.5s;
}
.about-sales p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000000;
    margin-top: 0.5rem;
    transition: all 0.5s;
}
.about-sales:hover{
    background-color:#DB4444;
}
.about-sales:hover  .hgudh{
    color: #FFF;
}
.about-sales:hover .gjsahf{
    color: #fff;
}
.nav-link{
    transition: all 0.5s !important;
}
#about-page .section-3{
    padding-top: 5rem;
    padding-bottom: 15rem !important;
}
.about-page-card{
    border: none !important;
}
.about-page-card img{
    background: #F5F5F5;
    padding: 3rem 3rem 0 3rem;
    height: 35rem;
}
.card-width{
   width: 30% !important;
    
}
.about-page-card .card-body{
    padding-left: 0 !important;
}
.about-page-card h3{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.04em;
    color: #000000;
}
.about-page-card p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000000;
}
.about-page-card .card-icons i{
    padding-right: 1rem;
    font-size: 1.5rem;
    color: #000000;
}
.about-page-carosel .carousel-indicators [data-bs-target]{
    background-color: #000000 !important;
    
}
.about-page-carosel  .carousel-indicators .active{
    background-color: #DB4444 !important;
}
.about-page-carosel .carousel-indicators{
    bottom: -70px !important;
    gap: 1rem !important;
}
.singup-page-section-1{
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.singup-form h2{
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.04em;
    margin-bottom: 2rem;
    color: #000000;
}
.singup-form P{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000000;
}
.singup-form form{
    padding-bottom: 2rem;
}
.singup-form form input{
    border: none;
    border-bottom: 1px solid #c4c1c1;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000000;
    
}
.singup-form form input::placeholder{
    opacity: 0.4;
}
.singup-button{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #FAFAFA;
    background: #DB4444;
    padding: 0.8rem 0;
}
.login-link a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #000000;
}
.login-button-area button{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #FAFAFA;
    background: #DB4444;
    padding: 0.8rem 3.5rem;
}
.login-button-area a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #DB4444;
}
.whislist-page-section-1{
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.whislist-sct-1-heading h6{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #000000;
}
.whislist-sct-1-heading button{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #000000;
    padding: 1rem 3rem;
}
#whislist-page .add-to-cart{
    opacity: 1;
}
#whislist-page .prodact-list{
    padding-top: 5rem !important;
}
#whislist-page .section-heading h6{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #000000;
}
#whislist-page .prodact .card-img{
    height: 270px;
}
.whislist-page-section-2{
    padding-bottom: 7rem;
}







 /* Resposive Devies */

@media (max-width:1199px){
    
}


@media (max-width:991px){

    .nav-hover li a:hover::before, a.nav-active::before{
        display: none;
    }
    .section-1 .row{
        flex-direction: column-reverse;
    }
    .section-1 .col-lg-10{
        padding: 0;
    }
    .section-1 .col-lg-10 .ps-5{
        padding-left: 0 !important;
        padding-top: 0 !important;
    }
    nav .navbar-nav{
        flex-direction: row;
        justify-content: center;
        padding-top: 1rem;
    }
    .nav-last-area{
        justify-content: center;
        padding-top: 1.5rem;
    }
    .sct-2-header .col-lg-3{
        padding-left: 0 !important;
        padding-top: 1rem;
    }
    .sct-2-header .col-lg-3 .row .col-3{
        padding: 0 !important;
    }
    .sct-2-header .col-lg-2{
        padding-top: 2rem !important;
    }
    .section-5 .col-6{
        display: none;
    }
    .footer-items{
        width: 26.666% !important;
    }
    #contact-page .form .col-lg-4{
        width: 100% !important;
    }
    .about-sales{
        width: 47% !important;
    }
    
}

@media (max-width:767px){
    html{
        font-size:50% ;
    }
    .header-text-h6 {
        display: none;
    }
    .hidden{
        display: none;
    }
    .m-width{
        width: 100% !important;
        padding-top: 3rem !important;
    }
    .footer-items{
        width: 100% !important;
    }
    .fgjfghaj{
        display: none;
    }

}


@media (max-width:575px){
    .dfjfbhsdjf{
        display: none;
    }
    .about-sales{
        width: 100% !important;
    }
    #about-page .section-3{
        display: none;
    }
}
